@keyframes show-in {
    from {
        opacity: 0;
        transform: translateY(-70px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.notifications-container {
    z-index: 9999;
    position: fixed;
    top: 18px;
    right: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.notification-item {
    display: flex;
    width: 400px;
    min-height: 60px;
    margin-bottom: 12px;
    color: #222;
    background-color: #fff;
    border: 1px solid #fff;
    animation: 0.5s ease show-in;

    &:last-child {
        margin-bottom: 0;
    }
}

.notification-item_status_active {
    opacity: 1;
    transform: translateY(0);
}

.notification-item__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 64px;
}

.notification-item__content-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 12px;
}

.notification-item__close-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 36px;
}

.notification-item__close-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    width: 18px;
    height: 18px;
    padding: 3px;
    cursor: pointer;
}

.notification-item_type_info {
    border-color: #00A7E1;

    .notification-item__icon-container {
        background-color: #00A7E1;
    }
}
.notification-item_type_success {
    border-color: #2A9134;

    .notification-item__icon-container {
        background-color: #2A9134;
    }
}
.notification-item_type_warning {
    border-color: #FF9B42;

    .notification-item__icon-container {
        background-color: #FF9B42;
    }
}
.notification-item_type_error {
    border-color: #D80B00;

    .notification-item__icon-container {
        background-color: #D80B00;
    }
}